/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.page {
    padding: 0 50px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color: #000000;
}

/****** Logo and navigation ***********/
.logo-and-navigation {
    display: flex;
    justify-content: space-between;
}

/****** Logo ***********/
.logo img {
    width: 61.9px;
    height: 19px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.nav {
    margin-right: 42.61px;
    gap: 69px;
}

.nav-button {
    padding-top: 16px;
    word-spacing: 69px;
}

.nav a:hover {
    padding-top: 14px;
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

/****** Header ***********/
.titre h1 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.titre h2 {
    margin-bottom: 35px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/*** Rechercher ******/
.recherche {
    display: flex;
    margin-bottom: 35px;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.icon {

    border-radius: 14px 0px 0px 14px;
    background-color: var(--main-bg-color);
    width: 50px;
}

.icon img {
    margin-top: 15px;
    margin-left: 18px;
    width: 14px;
    height: 18px;
}

.ville input {
    border: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 189px;
    height: 47px;
}

.recherche button {
    background-color: var(--main-color);
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 135px;
    height: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/****** Filtres ***********/
.filtres {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.filtres h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0 15px 0 0;
}

.filtres .button {
    display: flex;
}

.filtres a {
    display: flex;
    align-items: center;
    padding: 0 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 15px;
    background-color: white;
}

.filtres a:hover {
    background-color: #DEEBFF;
}

.filtres p {
    margin: 0 0;
}

.economique img {
    height: 16.26px;
    width: 22px;
}

.familial img {
    height: 22px;
    width: 13.44px;
}

.romantique img {
    height: 18.33px;
    width: 22px;
}

.pepites img {
    height: 20.08px;
    width: 18px;
}

/****** Information ***********/
.information {
    display: flex;
    align-items: center;
}

.information .icon {
    background-color: white;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 12px 12px 12px 12px;
}

.information img {
    width: 4px;
    height: 10px;
    margin-left: 10px;
    margin-top: 7px;
}

.information h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 0 34px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 65px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px 0px 0px 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card {
    height: 190px;
    max-width: 250.33px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5px 5px 15px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 5px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 0;
}

.hebergements-cards .card-rating {
    display: flex;
    align-items: center;
}

.hebergements-star {
    font-size: 13.25px;
    width: 14.29px;
    margin-right: 2.38px;
    padding-top: 8px;
}

.hebergements a {
    width: 260.33px;
    border-radius: 20px;
    margin: 30px 30px 0 0;
}

.plus {
    margin: 30px 0 30px 0;
}

.plus a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/****** Populaires ***********/
.populaires {
    padding: 30px;
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;  
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaire-star {
    font-size: 12px;
    width: 7.91663px;
    margin-right: 2px;
}

/****** Activités ***********/
.activites {
    margin-bottom: 65px;
    padding-left: 30px;
}

.activites a {
    margin-right: 30px;
    width: 25%;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activites-cards {
    display: flex;
}

.activites-title {
    margin-bottom: 30px;
    font-weight: 700;
    width: 1280px;
    height: 30.02px;
}

.activites .card {
    display: flex;
    flex-direction: column;
}

.activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activites .card-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    border-radius: 0px 0px 20px 20px;
}

.activites h3 {
    margin: 0;
    padding: 0 30px 0 30px;
    font-weight: 700;
    font-size: 16px;
}

/****** Footer ***********/
footer {
    display: flex;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 446.67px;
    height: 163px;
    background-color: #F2F2F2;
    padding-left: 20px;
}

footer a {
    margin-top: 15px;
    font-size: 16px;
}

footer h3 {
    margin: 20px 20px 0 0;
    font-style: normal;
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filtres ***********/
    .filtres {
        flex-direction: column;
        align-items: baseline;
    }

    .filtres h2 {
        margin-bottom: 20px;
    }

    .filtres a {
        font-size: 16px;
    }

    /****** Hebergements et Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/
    .activites a {
        height: 270px;
    }

    .activites img {
        height: 200px;
    }

    .activites .card-content {
        height: 70px;
    }

    .activites h3 {
        padding: 0 19px 0 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}